@import url(../base/colors.css);
/* atoms/_buttons.css */
button {
    font-family: "Montserrat", sans-serif;
    background-color: var(--green-800);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--green-900);
  }