/* base/_typography.css */
body {
    font-family: "Open Sans", sans-serif;
    color: var(--gris-oscuro);
    background-color: var(--blanco);
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    color: var(--verde-oscuro);
    margin: 1rem 0;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: semi-bold;
  }